@model CoreDemoY.Models.AddProfileImage
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Qeydiyyatdan keç</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Ad,Soyad</label>
                            @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Email</label>
                            @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifrə</label>
                            @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Təkrar Şifrə</label>
                            @Html.TextBoxFor(x => x.WriterPassword2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterPassword2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Profil şəkli</label>
                            <input type="file" name="WriterImage" class="form-control" />
                        </div>
                        @*<div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şəhər</label>
                            @Html.DropDownListFor(x => x.WriterCity, (List<SelectListItem>)ViewBag.dpr, "Şəhər seçin", new { @class = "form-control" })
                        </div>*@
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Qeydiyyatı tamamla</button>
                    <p>
                        <a id="btn1" href="#">Bütün qaydaları oxuyub,qəbul edirəm.</a>
                    </p>
                }
            </div>
        </div>
    </div>
    <br />
    <script>
        $("#btn1").click(function () {
            swal({
                title: "Qaydalar >>",
                text: "Qeyd etdiyiniz maile yeni bloglarımız haqqında məlumalar göndəriləcəkdir!",
                icon: "success",
            });
        })
    </script>
</section>

