
@{
    ViewBag.Title = "EduFileStock/Haqqımızda";
    ViewBag.description = "HƏR KƏSƏ SALAM YENI LAYIHƏ ILƏ QARŞINIZDAYIQ. ƏSAS MƏQSƏDIMIZ ILKIN MƏRHƏLƏDƏ INTERNET ÜZƏRINDƏN MÜXTƏLIF MÖVZULARDA DƏYƏRLI RESURSLARI BIR ARAYA TOPLAMAQ,ONLARI DAHA ƏLÇATAN ETMƏK VƏ YENI BILGILƏR ÖYRƏNMƏK ISTƏYƏN INSANLARA RAHATLIĞI TƏMIN ETMƏKDIR. TƏQDIM EDILƏN RESURSLAR ISƏ TAMAMIYLƏ PULSUZDUR.GƏLƏCƏKDƏ DAHA UĞURLU INKIŞAF YOLU TUTMAQ NIYYƏTI ILƏ. #PULSUZTƏHSILHƏRKƏSÜÇÜN";
    Layout = "~/Views/Shared/Site.cshtml";
    var a = 1;
}

<div class="content" data-pagetitle="about me">
    <div class="page-scroll-nav">
        <nav class="scroll-init page-scroll-nav_wrap">
            <ul class="no-list-style init_hidden_filter">
                <li><a class="scroll-link fbgs act-sec" href="#sec1" data-bgtext="01"><span>About</span></a></li>
                <li><a class="scroll-link fbgs" href="#sec3" data-bgtext="03"><span>Team</span></a></li>
            </ul>
            <div class="psn_button act-filter"><i class="fal fa-sort"></i> FIlter </div>
        </nav>
    </div>
    <!-- hero-section-dec-->
    <div class="hero-section-dec color-bg">
        <div class="progress-indicator">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="-1 -1 34 34">
                <circle cx="16" cy="16" r="15.9155"
                        class="progress-bar__background" />
                <circle cx="16" cy="16" r="15.9155"
                        class="progress-bar__progress
                                    js-progress-bar" />
            </svg>
        </div>
    </div>
    <!-- hero-section-dec end-->
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap">
        <div class="pr-bg"></div>
        <!--fixed-column-wrap-content-->
        <div class="fixed-column-wrap-content">
            <!--slideshow-container-->
            <div class="slideshow-container">
                <div class="slideshow-container_wrap fl-wrap full-height">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms-item_fs fl-wrap">
                                    <div class="bg par-elem" data-bg="https://www.schooleducationgateway.eu/files/jpg11/equityinschools.jpg"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide ">
                                <div class="ms-item_fs fl-wrap">
                                    <div class="bg par-elem" data-bg="https://beic.az/images/sitefile/e24ec9e087istockphoto-1263424631-170667a.jpg"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms-item_fs fl-wrap">
                                    <div class="bg par-elem" data-bg="https://www.aacmena.com/Images/blogs/6371963650062478521571940616424.png"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                        </div>
                    </div>
                </div>
            </div>
            <!--slideshow-container end-->
            <div class="overlay"></div>
            <div class="progress-bar-wrap bot-element">
                <div class="progress-bar"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title first-tile_load">
                <h2>Bizim<br> Haqqımızda</h2>
                <p>Öyrən,öyrət,paylaş.</p>
            </div>
            <!--fixed-column-wrap_title end-->
            <div class="fixed-column-dec"></div>
            <div class="scroll-notifer">Aşağı sürüşdür </div>
            <div class="section-counter">
                <div class="sc_current"><span>01</span></div>
                <div class="sc_total"></div>
            </div>
            <div class="fcwc-pagination fcwc-wrap"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap-->
    <div class="column-wrap">
        <!--column-wrap-container -->
        <div class="column-wrap-container fl-wrap">
            <div class="col-wc_dec"></div>
            <section class="scroll_sec" id="sec1">
                <div class="container">
                    <div class="section-title">
                        <h3>Məqsədimiz  </h3>
                        <p>
                            Hər kəsə salam
                            Yeni layihə ilə qarşınızdayıq.
                            Əsas məqsədimiz ilkin mərhələdə internet üzərindən müxtəlif mövzularda dəyərli resursları bir araya toplamaq,onları daha əlçatan etmək və yeni bilgilər öyrənmək istəyən insanlara rahatlığı təmin etməkdir.
                            Təqdim edilən resurslar isə tamamiylə pulsuzdur.Gələcəkdə daha uğurlu inkişaf yolu tutmaq niyyəti ilə.
                            #pulsuztəhsilhərkəsüçün
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dec-img   fl-wrap">
                                <img src="~/Content/images/ekran.png" class="respimg" alt="">
                                <a class="video_link image-popup" href="https://youtu.be/mdA2sByFX1I"><i class="fas fa-play"></i><span>Videonu başlat</span></a>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="main-about fl-wrap">
                                <h2>Bu komandaya<br><span> necə qatıla </span>  bilərəm?</h2>
                                <p>Sadəcə bizimlə əlaqə düyməsinə klik edərək 'Sizin komandanıza qatılmaq istəyirəm' yazıb bizim komandamızın bir üzvünə çevrilə bilərsiniz.Komandamızın üzvləri daima yeni məlumatlar axtarışında olan və tapdığı hər bir məlumatı başqaları ilə paylaşmaq həvəsində olan şəxslərdir.Səni də bu komanda daxilində görmək ümidi ilə) </p>
                                <p>Öyrən , öyrət , paylaş!</p>
                                <div class="facts-container fl-wrap">
                                    <!-- inline-facts -->
                                    <div class="inline-facts-wrap">
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="0" data-num="145">0</div>
                                                </div>
                                            </div>
                                            <h6>Paylaşılan materiallar</h6>
                                        </div>
                                    </div>
                                    <!-- inline-facts end -->
                                    <!-- inline-facts  -->
                                    <div class="inline-facts-wrap">
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="0" data-num="825">0</div>
                                                </div>
                                            </div>
                                            <h6>Ümumi iş saatı</h6>
                                        </div>
                                    </div>
                                    <!-- inline-facts end -->
                                    <!-- inline-facts  -->
                                    <div class="inline-facts-wrap">
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="0" data-num="15">0</div>
                                                </div>
                                            </div>
                                            <h6>Komandamızın üzv sayı</h6>
                                        </div>
                                    </div>
                                    <!-- inline-facts end -->
                                </div>
                                <a href="~/Site/contact" class="btn ajax  color-bg  fl-btn"><span>Bizimlə əlaqə</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-number"> <span>0</span>1. </div>
            </section>
            <!-- section end-->
            <div class="section-separator fl-wrap"><span></span></div>
            <section class="scroll_sec" id="sec3">
                <div class="container">
                    <div class="section-title">
                        <h3>Bizim komandamız</h3>
                        <p>@*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.*@  </p>
                    </div>
                    <!--grid-carousel-wrap -->
                    <div class="grid-carousel-wrap fl-wrap">
                        <div class="grid-carousel fl-wrap">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    @foreach (var item in ViewBag.team)
                                    {
                                    <!-- team-box   -->
                                    <div class="swiper-slide">
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <div class="overlay"></div>
                                                <img style="height: 250px;" src="~/Content/images/team/@item.TeamPhoto" alt="" class="respimg">
                                                <a href="#" class="team-contact_btn color-bg"><i class="fal fa-envelope"></i></a>
                                                <div class="team-info-num">@a.</div>
                                                <ul class="team-social">
                                                    <li><a href="@item.TeamFb" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="@item.TeamInst" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                    <li><a href="@item.TeamTvit" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="@item.TeamVik" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="team-info">
                                                <h3>@item.TeamName</h3>
                                                <h4>@item.TeamJob</h4>
                                                <p>@item.TeamText</p>
                                            </div>
                                        </div>
                                    </div>
                                        a++;
                                    <!-- team-box   end-->
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="gc-slider-cont-wrap">
                            <div class="gc-slider-cont gc-slider-cont-next"><i class="fal fa-angle-right"></i></div>
                            <div class="gc-slider-cont gc-slider-cont-prev"><i class="fal fa-angle-left"></i></div>
                        </div>
                    </div>
                    <!--grid-carousel-wrap end -->
                </div>
                <div class="section-number"> <span>0</span>3. </div>
            </section>
            <!--section end-->
            <div class="section-separator fl-wrap"><span></span></div>
            <!-- section  -->
        </div>
        <!--column-wrap-container end -->
    </div>
    <!--column-wrap end-->
    <div class="to-top-btn to-top"><i class="fal fa-long-arrow-up"></i></div>
</div>

